
#image{
    background-image: url(enfants5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: auto;

    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    display: flex;
}
p{
    margin: 10px;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 7%;
    padding: 2%;
    background-color: peru;
}
#navbarResponsive{
    display: none;
  }
a{
    text-decoration: none;
    color: rgb(13, 15, 15);
    font-size: 1.3rem;
}
#paragraph {
    text-align: left;
    border: saddlebrown;
    padding: 30px;
    margin-top: 0rem;
    

}
.Don{
    height: 30px;
    width: 150px;
    background-color: palegoldenrod;
    border: 2px solid black;
    border-radius: 10px;
}
.contenair{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin-bottom: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2%;  
    box-sizing: border-box;   
}
.contenair2{
    width:100%;
    height: 80%;

    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin-bottom: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2%;
    box-sizing: border-box;
}
#one,#two,#three{
    width: 100%;
    height: 80%;
    background: rgb(235, 171, 107);
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px palegoldenrod;
    box-sizing: border-box;
    
}
#four,#five,#six{
    width: 100%;
    height: auto;
    background: rgb(235, 171, 107);
    border: 1px solid black;
    text-align: center;  
    border-radius: 10px;
    box-shadow: 5px 5px palegoldenrod;
    box-sizing: border-box;
    
}

#logoW{
    width: 200px;
    height: 30%;
    margin-left: 3rem;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 30px;
    background-color: peru;
    text-align: center;    
}
h2{
    text-align: center;
    color: #2c0e0a;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline #3f0303;

}
h3{
    text-align: center;
}
li{
    list-style: none;
}
body{
    background-color: #993d32;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 640px) and (max-width: 1300px){
    .contenair{
      flex-direction: row;
    }
    .contenair2{
        flex-direction: row;
    }
    h1{
        flex-direction: row;
        font-size: 3rem;
    }
    .img{
        flex-direction: row;
    }
    #navbar{
        flex-direction: row;
    }
  }
  @media screen and (max-width: 640px) {
    .contenair{
        display: flex;
        flex-direction: column;
    }
    .contenair2{
        display:flex ;
        flex-direction: column;
    }
    #navbarResponsive{
        display: flex;
        margin: 2%;
      }
    h1{
        font-size: 2rem;}
    
    img{
        width: 100%;

    }
    #navbar{
        display: none;
    
        
    }
    #logo2{
        display: none;
    
    }
    h1{
        display: none;
    }
    .foot{
        display: flex;
        flex-direction: column;
    }
        
    
  }